<div class="intoro">
  <h5>診断結果</h5>
  <p>あなたにおすすめのものは…</p>
</div>
<div class="perfume-container">
  <% case [@perfume.question1, @perfume.question2, @perfume.question3, @perfume.question4] %>
  <% when ["1", "1", "1", "1"] %>
    <h2>ラーメン　牛丼</h2>
  <% when ["1", "1", "1", "2"] %>
    <h2>鍋　焼肉</h2>
    
  <% when ["1", "1", "2", "1"] %>
    <h2>冷やし中華　冷麺</h2>
   
  <% when ["1", "1", "2", "2"] %>
    <h2>冷しゃぶ</h2>
   
  <% when ["1", "2", "1", "1"] %>
    <h2>そば　うどん</h2>
  
  <% when ["1", "2", "1", "2"] %>
    <h2>しゃぶしゃぶ　鶏塩ラーメン</h2>
  
  <% when ["1", "2", "2", "1"] %>
    <h2>冷やしうどん　冷やしとろろそば</h2>
  
  <% when ["1", "2", "2", "2"] %>
    <h2>ざるそば</h2>
   
  <% when ["2", "1", "1", "1"] %>
    <h2>軽くてこってりは無理です</h2>
  
  <% when ["2", "1", "1", "2"] %>
    <h2>軽くてこってりは無理です</h2>

  <% when ["2", "1", "2", "1"] %>
    <h2>軽くてこってりは無理です</h2>
  
  <% when ["2", "1", "2", "2"] %>
    <h2>軽くてこってりは無理です</h2>

  <% when ["2", "2", "1", "1"] %>
    <h2>お茶漬け　湯豆腐</h2>
   
  <% when ["2", "2", "1", "2"] %>
    <h6>バニラ</h6>
    <p>甘くて官能的な香り</p>
    <p>上品で年齢を問わず人気が高い</p>
  <% when ["2", "2", "2", "1"] %>
    <h6>イランイラン</h6>
    <p>色気のある濃厚で甘い香り</p>
    <p>恋愛に効果があり</p>
  <% when ["2", "2", "2", "2"] %>
    <h6>サンダルウッド</h6>
    <p>お香としてよく使われる白檀の香り</p>
    <p>集中力を高める効果もあり</p>
  <% end %>
</div>